@font-face {
    font-family:Thai Sans Lite;
    src: url('thaisanslite_r1.ttf');
}
@font-face {
    font-family:Thai Sans Lite;
    src:url('thaisanslite_r1.eot');
    src:url('thaisanslite_r1.eot?iefix') format('embedded-opentype'),
        url('thaisanslite_r1.woff') format("woff"),
        url('thaisanslite_r1.ttf') format("truetype"),
        url('thaisanslite_r1.svg#family:myFont') format("svg");
}

/* CSS Document */
body{ padding:0; margin:0; background:#e5e4d2; font:normal 13px Arial, Helvetica, sans-serif; color:#073705;}
h1{ font-family:Thai Sans Lite; color:#f8ac08;}
img{ border:0;}
a.active{
    color: #fde305 !important;
}
a{color:#fff; text-decoration: none;}
a:hover{color:#f3bb3e; text-decoration: underline;}
.clear{ clear:both;}
#top{ width:100%; background:#073705; height:50px; position: absolute; z-index:0;}
#login-social{ width:1024px; margin:0 auto 0 auto; text-align:right;}
.form-send-msg{ margin:10px 0 0 0; width:550px; padding:0;}
.top-left{ float:left; margin:0 0 0 250px; padding:0;}
.top-right{ float:right; width:200px; border-left:1px dashed #fff; margin:11px 0 0 0;}
.input{ height:25px; border:1px solid #CCCCCC;}
#logo-menu{ width:1024px; margin:0 auto;}
#logo{ float:left; margin:0 auto; padding:10px 0 0 0; position: absolute; z-index:1;}
#menu{ width:680px; margin:50px auto 0 auto; padding:0; position: relative; z-index:0; float:right;}
#menu ul{list-style:none; padding:0 0 0 20px; margin:0 auto; text-align:center; font-family:Thai Sans Lite; font-size:20px;}
#menu li{display:block; float:left; padding:5px 27px; margin:0;}
#menu li a{color:#073705; text-decoration: none;}
#menu li a:hover{color:#f8ac08; text-decoration: none;}
#slide{ clear: both; margin:0 0 0 0; padding:0; width:100%; position:relative; z-index:0;}
.txtslide{ width:1024px; position:absolute; z-index:5; padding:350px 0 0 768px; text-align:center; margin: 0 auto 0 auto;}
.imgslideproducts{ height:126px; background: url(images/img-products.jpg) no-repeat center center;
                   -webkit-background-size: cover;
                   -moz-background-size: cover;
                   -o-background-size: cover;
                   background-size: cover;}
.txtslideproducts{width:1024px; position:absolute; z-index:5; padding:10px 0 0 520px; text-align:center; margin: 0 auto 0 auto;}
#content{ clear:both; width:1024px; margin:500px auto 0 auto; padding:0;}
#contentproducts{ clear:both;  margin:0 auto;}
#contentproducts ul{list-style:none; padding:0 0 0 20px; margin:0 auto; text-align:center; width:1024px;}
#contentproducts li{display:block; float:left; padding:5px 15px; margin:0;}
#contentproducts li a{ color:#000; text-decoration:none;}
#contentproducts span{ }
#contentproducts p{ text-align:left;}
.contentproductsimg{width:213px;}
#footer{ clear:both; padding:10px 0; margin:0 auto; width:1024px; text-align:center; color:#7b7b7b; background:#073705;}
.item-cost{
    color: #fb0709;
}

.add_cart_button {
    display: block;
    padding: 5px 8px 5px 5px;
    color: #FFFFFF !important;
    margin-left: 39px;
    background-color: #073705;
    border-radius: 5px;
    border: 1px solid #073705;
    text-shadow: 0px 1px rgba(109, 108, 108, 0.46);
    margin: auto;
    font-family: Thai Sans Lite;
    font-size: 20px;
    padding-bottom: 8px;
}
.add_cart_button:active {
    opacity: 0.8;
    position:relative;
    top:1px;
}
.add_cart_button:hover {

    position:relative;
    top:-3px;
}

//ปุ่ม Add to cart
.my-btn-cart {
    font-family:Thai Sans Lite;
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff !important;
    font-size:21px;
    padding: 3px 0 8px 0;
    text-decoration:none;
    width: 100%;
    text-align: center;
    color: #FFF !important;
}
.my-btn-cart:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
.my-btn-cart:active {
    position:relative;
    top:1px;
}

em{
    color: red;
}

